section.swiper-slide.content-section.contact-section
  h3.section-title Контакты
  div.contact
    div.info
      h4 ООО «Экспорт-Строй»
      div.info-field
        span.title Юридический адрес
        span.value 150002, Ярославская обл., г.Ярославль, п. Текстилей, д.6, оф.1
      div.info-field
        span.title ИНН
        span.value 7604354365
      div.info-field
        span.title ОГРН
        span.value 1197627005828
      div.info-field
        span.title КПП
        span.value 760401001
      div.info-field
        span.title Телефон
        a.value +79128217589
      div.info-field
        span.title Электронная почта
        a.value alexann777@mail.ru
    form.contact-form
      h4 Получить бесплатную консультацию
      div.form-fields
        div.form-group
          div.form-field
            input(type="text", placeholder="Ваше имя", required)
          div.form-field
            input(type="text", placeholder="Номер телефона", required)
          div.form-field
            select
              option Финский дом 33 м
              option Финский дом 52 м
              option Финский дом 64 м
              option Финская баня 33 м
          div.form-field
            textarea(placeholder="Сообщение")
      a.button Получить консультацию
