section.swiper-slide.content-section
  h3.section-title Преимущества модульных домов
  div.excellence-grid
    div.excellence-item
      div.icon
        i.far.fa-clock
      div.desc
        h4.title Готовый дом за 1 день
        p.
          Все «Финские дома» строятся в заводских условиях и поставляются на строительную площадку готовыми к проживанию. Остается только установить дом на участке и подключить к имеющимся коммуникациям.
    div.excellence-item
      div.icon
        i.fas.fa-home
      div.desc
        h4.title Уникальные проекты
        p.
          Проекты «финских домов» уникальны тем, что на небольшой площади позволяют разместить все необходимые для постоянного проживания помещения. Все наши проекты домов выполнены в скандинавском стиле, они продуманны, современны, комфортны.
    div.excellence-item
      div.icon
        i.far.fa-lightbulb
      div.desc
        h4.title Энергосберегающие технологии
        p.
          Использование энергосберегающих технологий позволяет нам строить очень теплые дома. «Финские дома» в несколько раз теплее деревянных (коэф. теплосопротивления стены (Rt, м2 х град/Вт) – 6.0, при норме по СНИП – 3.7). Это означает, что затраты на отопление будут в несколько раз ниже, чем в аналогичном деревянном доме.
    div.excellence-item
      div.icon
        i.fas.fa-brush
      div.desc
        h4.title Интересный дизайн
        p.
          «Финские дома» имеют необычный скандинавский дизайн и яркую цветовую гамму. У нас нет стандартных цветовых решений, совместно с заказчиками мы оформляем дома в любой цветовой гамме.
    div.excellence-item
      div.icon
        i.fas.fa-car
      div.desc
        h4.title Дом по цене машины
        p.
          Стоимость базовой комплектации «финского дома», площадью 33 м2 составляет всего 688 000 руб. Это отличное решение для тех, кто ищет недорогой дом или дачу. В эту стоимость уже включено утепление по периметру, поэтому даже в базовой комплектации дом может быть использован круглый год.
    div.excellence-item
      div.icon
        i.far.fa-calendar-alt
      div.desc
        h4.title Монтаж круглый год
        p.
          «Финский дом» можно перевозить и устанавливать на любом земельном участке в любое время года.
    div.excellence-item
      div.icon
        i.far.fa-check-square
      div.desc
        h4.title 3 комплектации на выбор
        p.
          Мы поставляем «финские дома» в трех стандартных комплектациях. В топовой комплектации «Люкс» предусмотрено абсолютно все необходимое для жизни, включая мебель и необходимое оборудование. Вы можете выбрать подходящую вам комплектацию, запросив у наших специалистов спецификацию материалов и оборудования по каждому проекту.
    div.excellence-item
      div.icon
        i.far.fa-list-alt
      div.desc
        h4.title Наличие дополнительных услуг
        p.
          Все «Финские дома» строятся в заводских условиях и поставляются на строительную площадку готовыми к проживанию. Остается только установить дом на участке и подключить к имеющимся коммуникациям.
