section.swiper-slide.content-section.service-section
  h3.section-title Выбор типовых проектов
  div.service-wrapper
    div.service-item
      div.image-wrapper
        div.image(style="background-image: url('"+require('../../images/project/h33.jpg')+"');")
      div.desc
        h4.title Финский дом 33 м
          sup 2
        span.price от 668 000 руб
        p.
          Готовый жилой дом для круглогодичного проживания по цене автомобиля. В несколько раз теплее деревянного. Монтаж 1 день. Срок производства - 30 дней.
        div.action-buttons
          div.read-more
            i.fas.fa-search
            span Узнать больше
          div.see-comp
            i.far.fa-clipboard
            span Посмотреть планировку
          div.answer
            i.far.fa-question-circle
            span Получить консультацию
    div.service-item
      div.image-wrapper
        div.image(style="background-image: url('"+require('../../images/project/h52.jpg')+"');")
      div.desc
        h4.title Финский дом 52 м
          sup 2
        span.price от 795 000 руб
        p.
          Готовый жилой дом для круглогодичного проживания с 3-мя спальнями. Монтаж за 1 день. Срок производства - 45 дней.
        div.action-buttons
          div.read-more
            i.fas.fa-search
            span Узнать больше
          div.see-comp
            i.far.fa-clipboard
            span Посмотреть планировку
          div.answer
            i.far.fa-question-circle
            span Получить консультацию
    div.service-item
      div.image-wrapper
        div.image(style="background-image: url('"+require('../../images/project/h64.jpg')+"');")
      div.desc
        h4.title Финский дом 64 м
          sup 2
        span.price от 999 000 руб
        p.
          Готовый жилой дом для круглогодичного проживания для семьи из 4 человек. Уникальный скандинавский дизайн. Срок производства - от 45 дней.
        div.action-buttons
          div.read-more
            i.fas.fa-search
            span Узнать больше
          div.see-comp
            i.far.fa-clipboard
            span Посмотреть планировку
          div.answer
            i.far.fa-question-circle
            span Получить консультацию
    div.service-item
      div.image-wrapper
        div.image(style="background-image: url('"+require('../../images/project/b33.jpg')+"');")
      div.desc
        h4.title Финская баня 33 м
          sup 2
        span.price от 668 000 руб
        p.
          Готовый гостевой дом-баня для круглогодичного использования. Полная комплектация. Монтаж 1 день. Срок производства - 40 дней.
        div.action-buttons
          div.read-more
            i.fas.fa-search
            span Узнать больше
          div.see-comp
            i.far.fa-clipboard
            span Посмотреть планировку
          div.answer
            i.far.fa-question-circle
            span Получить консультацию
  div#get_cons_template(style="display: none")
    form.get-cons-form
      h3 Получить консультацию
      div.form-fields
        div.form-group
          div.form-field
            input(type="text", placeholder="Ваше имя", required)
          div.form-field
            input(type="text", placeholder="Номер телефона", required)
          div.form-field
            select
              option Финский дом 33 м
              option Финский дом 52 м
              option Финский дом 64 м
              option Финская баня 33м
        div.form-group
          div.form-field
            textarea(placeholder="Сообщение")
  // Спецификации
  div#see_more_template_h33(style="display: none")
    div.equipment
      div.table-header
        table(cellpadding="0", cellspacing="0", border="0")
          thead
            tr
              th
              th
                h4 Базовая
                span.price 668 000 руб
              th
                h4 Комфорт
                span.price 885 000 руб
              th
                h4 Люкс
                span.price 1 088 000 руб
      div.table-content
        table(cellpadding="0", cellspacing="0", border="0")
          tbody
            tr
              td.column-title Фундамент
              td(colspan=3) Рассчитывается отдельно как дополнительная опция
            tr
              td.column-title Гидроизоляция
              td(colspan=3) Мастика, гидростеклоизоляция
            tr
              td.column-title Обвязка
              td Двойная (первый и второй ряд) обрезной брус 150х150 мм
              td(colspan=2) Двойная (первый и второй ряд) обрезной брус 150х150 мм Обработка антисептиком.
            tr
              td.column-title Лаги 1-го этажа
              td Обрезная доска 40х150 мм, с шагом 580 мм.
              td(colspan=2) Обрезная доска 40х150 мм, с шагом 580 мм. Обработка антисептиком + утеплитель.
            tr
              td.column-title Черновой пол
              td(colspan=3) Фанера OSB, обработка битумной мастикой.
            tr
              td.column-title Чистовой пол
              td(colspan=3) Ламинат 32 класса.
            tr
              td.column-title Наружные стены
              td(colspan=3) Имитация бруса 16х135 мм. Обработка антисептиком
            tr
              td.column-title Перегородки 1-го этажа
              td(colspan=3) Обрезная доска 40х150 + утеплитель. Минвата Технониколь 3 слоя. Внутренняя перегородка: обрезная доска 40х100мм.
            tr
              td.column-title Высота 1-го этажа
              td(colspan=3) 2,20 м (+/- 5 см). Под скат 3,40 м (+/- 5см)
            tr
              td.column-title Стропильная система
              td(colspan=3) Обрезная доска 40х150 мм (с шагом 580 мм). Стойки и раскосы из обрезной доски 40х150 мм. Подстропильная балка из обрезной доски 40х150 мм (с шагом 580 мм).
            tr
              td.column-title Ветро-влагозащитная паропраницаемая мембрана, под кровлю
              td(colspan=3) Изоспан «А», «В» или (Аналоги)
            tr
              td.column-title Контр-рейка под кровельное покрытие
              td(colspan=3) Обрезной брусок 40х50 мм
            tr
              td.column-title Фронтоны
              td(colspan=3) Обрезная доска 40х150 мм, с прокладкой ветро-влагозащитной паропраницаемой мембраной, (Изоспан «А», «В» или аналоги) и обшиты имитацией бруса. Установка вентиляционных решеток
            tr
              td.column-title Кровельное покрытие
              td(colspan=3) Мягкая кровля
            tr
              td.column-title Обсадные ройки
              td(colspan=3) В оконных и дверных проёмах обрезная доска 40х150мм
            tr
              td.column-title Сборка сруба
              td(colspan=3) Финишные гвозди
            tr
              td.column-title Угловое соединение
              td(colspan=3) В пол бруса
            tr
              td.column-title Свесы крыши
              td Без отделки.
              td Подшиты обрезной доской.
              td Подшиты имитацией бруса.
            tr
              td.column-title Монтаж водосточной системы
              td(colspan=3) Установка горизонтальных желобов и вертикальных сливных труб. Материал пластик. (цвет на выбор: Красный, Коричневый, Зелёный).
            tr
              td.column-title Монтаж снегозадержателей
              td Не выполнен
              td Не выполнен
              td Металлические. Цвет на выбор (Красный, Коричневый, Зелёный)
            tr
              td.column-title Терасса
              td(colspan=3) Обрезная доска 50х150мм, чистовой пол, обработанный антисептиком
            tr
              td.column-title Сборка
              td(colspan=3) Включена
            tr
              td.column-title Доставка
              td(colspan=3) Рассчитывается отдельно
            tr
              td.column-title Отделка
              td Чистовая
              td "Базовая" + сантехника, печь-камин, эл. разводка, освещение
              td "Комфорт" + мебель, мягкая мебель, матрацы, бытовая техника, элементы декора
  div#see_more_template_h52(style="display: none")
    div.equipment
      div.table-header
        table(cellpadding="0", cellspacing="0", border="0")
          thead
            tr
              th
              th
                h4 Базовая
                span.price 795 000 руб
              th
                h4 Комфорт
                span.price 1 095 000 руб
              th
                h4 Люкс
                span.price 1 290 000 руб
      div.table-content
        table(cellpadding="0", cellspacing="0", border="0")
          tbody
            tr
              td.column-title Фундамент
              td(colspan=3) Рассчитывается отдельно как дополнительная опция
            tr
              td.column-title Гидроизоляция
              td(colspan=3) Мастика, гидростеклоизоляция
            tr
              td.column-title Обвязка
              td Двойная (первый и второй ряд) обрезной брус 150х150 мм
              td(colspan=2) Двойная (первый и второй ряд) обрезной брус 150х150 мм Обработка антисептиком.
            tr
              td.column-title Лаги 1-го этажа
              td Обрезная доска 40х150 мм, с шагом 580 мм.
              td(colspan=2) Обрезная доска 40х150 мм, с шагом 580 мм. Обработка антисептиком + утеплитель.
            tr
              td.column-title Черновой пол
              td(colspan=3) Фанера OSB, обработка битумной мастикой.
            tr
              td.column-title Чистовой пол
              td(colspan=3) Ламинат 32 класса.
            tr
              td.column-title Наружные стены
              td(colspan=3) Имитация бруса 16х135 мм. Обработка антисептиком
            tr
              td.column-title Перегородки 1-го этажа
              td(colspan=3) Обрезная доска 40х150 + утеплитель. Минвата Технониколь 3 слоя. Внутренняя перегородка: обрезная доска 40х100мм.
            tr
              td.column-title Высота 1-го этажа
              td(colspan=3) 2,20 м (+/- 5 см). Под скат 3,40 м (+/- 5см)
            tr
              td.column-title Стропильная система
              td(colspan=3) Обрезная доска 40х150 мм (с шагом 580 мм). Стойки и раскосы из обрезной доски 40х150 мм. Подстропильная балка из обрезной доски 40х150 мм (с шагом 580 мм).
            tr
              td.column-title Ветро-влагозащитная паропраницаемая мембрана, под кровлю
              td(colspan=3) Изоспан «А», «В» или (Аналоги)
            tr
              td.column-title Контр-рейка под кровельное покрытие
              td(colspan=3) Обрезной брусок 40х50 мм
            tr
              td.column-title Фронтоны
              td(colspan=3) Обрезная доска 40х150 мм, с прокладкой ветро-влагозащитной паропраницаемой мембраной, (Изоспан «А», «В» или аналоги) и обшиты имитацией бруса. Установка вентиляционных решеток
            tr
              td.column-title Кровельное покрытие
              td(colspan=3) Мягкая кровля
            tr
              td.column-title Обсадные ройки
              td(colspan=3) В оконных и дверных проёмах обрезная доска 40х150мм
            tr
              td.column-title Сборка сруба
              td(colspan=3) Финишные гвозди
            tr
              td.column-title Угловое соединение
              td(colspan=3) В пол бруса
            tr
              td.column-title Свесы крыши
              td Без отделки.
              td Подшиты обрезной доской.
              td Подшиты имитацией бруса.
            tr
              td.column-title Монтаж водосточной системы
              td(colspan=3) Установка горизонтальных желобов и вертикальных сливных труб. Материал пластик. (цвет на выбор: Красный, Коричневый, Зелёный).
            tr
              td.column-title Монтаж снегозадержателей
              td Не выполнен
              td Не выполнен
              td Металлические. Цвет на выбор (Красный, Коричневый, Зелёный)
            tr
              td.column-title Терасса
              td(colspan=3) Обрезная доска 50х150мм, чистовой пол, обработанный антисептиком
            tr
              td.column-title Сборка
              td(colspan=3) Включена
            tr
              td.column-title Доставка
              td(colspan=3) Рассчитывается отдельно
            tr
              td.column-title Отделка
              td Чистовая
              td "Базовая" + сантехника, печь-камин, эл. разводка, освещение
              td "Комфорт" + мебель, мягкая мебель, матрацы, бытовая техника, элементы декора
  div#see_more_template_h64(style="display: none")
    div.equipment
      div.table-header
        table(cellpadding="0", cellspacing="0", border="0")
          thead
            tr
              th
              th
                h4 Базовая
                span.price 999 000 руб
              th
                h4 Комфорт
                span.price 1 280 000 руб
              th
                h4 Люкс
                span.price 1 499 000 руб
      div.table-content
        table(cellpadding="0", cellspacing="0", border="0")
          tbody
            tr
              td.column-title Фундамент
              td(colspan=3) Рассчитывается отдельно как дополнительная опция
            tr
              td.column-title Гидроизоляция
              td(colspan=3) Мастика, гидростеклоизоляция
            tr
              td.column-title Обвязка
              td Двойная (первый и второй ряд) обрезной брус 150х150 мм
              td(colspan=2) Двойная (первый и второй ряд) обрезной брус 150х150 мм Обработка антисептиком.
            tr
              td.column-title Лаги 1-го этажа
              td Обрезная доска 40х150 мм, с шагом 580 мм.
              td(colspan=2) Обрезная доска 40х150 мм, с шагом 580 мм. Обработка антисептиком + утеплитель.
            tr
              td.column-title Черновой пол
              td(colspan=3) Фанера OSB, обработка битумной мастикой.
            tr
              td.column-title Чистовой пол
              td(colspan=3) Ламинат 32 класса.
            tr
              td.column-title Наружные стены
              td(colspan=3) Имитация бруса 16х135 мм. Обработка антисептиком
            tr
              td.column-title Перегородки 1-го этажа
              td(colspan=3) Обрезная доска 40х150 + утеплитель. Минвата Технониколь 3 слоя. Внутренняя перегородка: обрезная доска 40х100мм.
            tr
              td.column-title Высота 1-го этажа
              td(colspan=3) 2,20 м (+/- 5 см). Под скат 3,40 м (+/- 5см)
            tr
              td.column-title Стропильная система
              td(colspan=3) Обрезная доска 40х150 мм (с шагом 580 мм). Стойки и раскосы из обрезной доски 40х150 мм. Подстропильная балка из обрезной доски 40х150 мм (с шагом 580 мм).
            tr
              td.column-title Ветро-влагозащитная паропраницаемая мембрана, под кровлю
              td(colspan=3) Изоспан «А», «В» или (Аналоги)
            tr
              td.column-title Контр-рейка под кровельное покрытие
              td(colspan=3) Обрезной брусок 40х50 мм
            tr
              td.column-title Фронтоны
              td(colspan=3) Обрезная доска 40х150 мм, с прокладкой ветро-влагозащитной паропраницаемой мембраной, (Изоспан «А», «В» или аналоги) и обшиты имитацией бруса. Установка вентиляционных решеток
            tr
              td.column-title Кровельное покрытие
              td(colspan=3) Мягкая кровля
            tr
              td.column-title Обсадные ройки
              td(colspan=3) В оконных и дверных проёмах обрезная доска 40х150мм
            tr
              td.column-title Сборка сруба
              td(colspan=3) Финишные гвозди
            tr
              td.column-title Угловое соединение
              td(colspan=3) В пол бруса
            tr
              td.column-title Свесы крыши
              td Без отделки.
              td Подшиты обрезной доской.
              td Подшиты имитацией бруса.
            tr
              td.column-title Монтаж водосточной системы
              td(colspan=3) Установка горизонтальных желобов и вертикальных сливных труб. Материал пластик. (цвет на выбор: Красный, Коричневый, Зелёный).
            tr
              td.column-title Монтаж снегозадержателей
              td Не выполнен
              td Не выполнен
              td Металлические. Цвет на выбор (Красный, Коричневый, Зелёный)
            tr
              td.column-title Терасса
              td(colspan=3) Обрезная доска 50х150мм, чистовой пол, обработанный антисептиком
            tr
              td.column-title Сборка
              td(colspan=3) Включена
            tr
              td.column-title Доставка
              td(colspan=3) Рассчитывается отдельно
            tr
              td.column-title Отделка
              td Чистовая
              td "Базовая" + сантехника, печь-камин, эл. разводка, освещение
              td "Комфорт" + мебель, мягкая мебель, матрацы, бытовая техника, элементы декора
  div#see_more_template_b33(style="display: none")
    div.equipment
      div.table-header
        table(cellpadding="0", cellspacing="0", border="0")
          thead
            tr
              th
              th
                h4 Базовая
                span.price 668 000 руб
              th
                h4 Комфорт
                span.price 885 000 руб
              th
                h4 Люкс
                span.price 1 088 000 руб
      div.table-content
        table(cellpadding="0", cellspacing="0", border="0")
          tbody
            tr
              td.column-title Фундамент
              td(colspan=3) Рассчитывается отдельно как дополнительная опция
            tr
              td.column-title Гидроизоляция
              td(colspan=3) Мастика, гидростеклоизоляция
            tr
              td.column-title Обвязка
              td Двойная (первый и второй ряд) обрезной брус 150х150 мм
              td(colspan=2) Двойная (первый и второй ряд) обрезной брус 150х150 мм Обработка антисептиком.
            tr
              td.column-title Лаги 1-го этажа
              td Обрезная доска 40х150 мм, с шагом 580 мм.
              td(colspan=2) Обрезная доска 40х150 мм, с шагом 580 мм. Обработка антисептиком + утеплитель.
            tr
              td.column-title Черновой пол
              td(colspan=3) Фанера OSB, обработка битумной мастикой.
            tr
              td.column-title Чистовой пол
              td(colspan=3) Ламинат 32 класса.
            tr
              td.column-title Наружные стены
              td(colspan=3) Имитация бруса 16х135 мм. Обработка антисептиком
            tr
              td.column-title Перегородки 1-го этажа
              td(colspan=3) Обрезная доска 40х150 + утеплитель. Минвата Технониколь 3 слоя. Внутренняя перегородка: обрезная доска 40х100мм.
            tr
              td.column-title Высота 1-го этажа
              td(colspan=3) 2,20 м (+/- 5 см). Под скат 3,40 м (+/- 5см)
            tr
              td.column-title Стропильная система
              td(colspan=3) Обрезная доска 40х150 мм (с шагом 580 мм). Стойки и раскосы из обрезной доски 40х150 мм. Подстропильная балка из обрезной доски 40х150 мм (с шагом 580 мм).
            tr
              td.column-title Ветро-влагозащитная паропраницаемая мембрана, под кровлю
              td(colspan=3) Изоспан «А», «В» или (Аналоги)
            tr
              td.column-title Контр-рейка под кровельное покрытие
              td(colspan=3) Обрезной брусок 40х50 мм
            tr
              td.column-title Фронтоны
              td(colspan=3) Обрезная доска 40х150 мм, с прокладкой ветро-влагозащитной паропраницаемой мембраной, (Изоспан «А», «В» или аналоги) и обшиты имитацией бруса. Установка вентиляционных решеток
            tr
              td.column-title Кровельное покрытие
              td(colspan=3) Мягкая кровля
            tr
              td.column-title Обсадные ройки
              td(colspan=3) В оконных и дверных проёмах обрезная доска 40х150мм
            tr
              td.column-title Сборка сруба
              td(colspan=3) Финишные гвозди
            tr
              td.column-title Угловое соединение
              td(colspan=3) В пол бруса
            tr
              td.column-title Свесы крыши
              td Без отделки.
              td Подшиты обрезной доской.
              td Подшиты имитацией бруса.
            tr
              td.column-title Монтаж водосточной системы
              td(colspan=3) Установка горизонтальных желобов и вертикальных сливных труб. Материал пластик. (цвет на выбор: Красный, Коричневый, Зелёный).
            tr
              td.column-title Монтаж снегозадержателей
              td Не выполнен
              td Не выполнен
              td Металлические. Цвет на выбор (Красный, Коричневый, Зелёный)
            tr
              td.column-title Терасса
              td(colspan=3) Обрезная доска 50х150мм, чистовой пол, обработанный антисептиком
            tr
              td.column-title Сборка
              td(colspan=3) Включена
            tr
              td.column-title Доставка
              td(colspan=3) Рассчитывается отдельно
            tr
              td.column-title Отделка
              td Чистовая
              td "Базовая" + сантехника, печь-камин, эл. разводка, освещение
              td "Комфорт" + мебель, мягкая мебель, матрацы, бытовая техника, элементы декора
  // Планировки
  div#see-comp-h33(style="display: none;")
    div.plan
      img(src=require('../../images/project/h33_plan.jpg'))
  div#see-comp-h52(style="display: none;")
    div.plan
      img(src=require('../../images/project/h52_plan.jpg'))
  div#see-comp-h64(style="display: none;")
    div.plan
      img(src=require('../../images/project/h64_plan.jpg'))
  div#see-comp-b33(style="display: none;")
    div.plan
      img(src=require('../../images/project/b33_plan.jpg'))
