html
  head
    meta(charset='UTF-8')
    title Финские дома за 1 день
  body
    main#content.swiper-container
      div.swiper-wrapper
        include partials/welcome_slider
        include partials/excellence
        include partials/service
        include partials/process
        include partials/portfolio
        include partials/contact
      div.swiper-pagination.swiper-pagination-v
