// ==========================================================================
// Global variables
// ==========================================================================

// 1. Colors
// ==========================================================================

$primary-color: #d6ab60;
$primary-text-color: #444;
$secondary-text-color: #fff;
